* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


#nav {
    height: 10%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#nav-part1 {
    padding-left: 60px;
}

#nav-part1 img {
    height: 170px;
    width: 170px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav-part2 h4 {
    font-size: 16px;
    padding-right: 20px;
    font-weight: 500;
    font-family: Gilroy;
    color: white;
}

#nav-part3 {
    padding-right: 70px;
}

#nav-part3 button {
    padding: 13px 25px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

#page1 {
    height: 100%;
    width: 100%;

}
#left-right {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
}

#left-right #left {
    height: 100%;
    width: 50%;
    background-color: black;
}

#left h1 {
    font-size: 55px;
    letter-spacing: 1px;
    color: white;
    line-height: 60px;
    margin-top: 20%;
    margin-left: 13%;
}

#left p {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Gilroy;
    margin-left: 13%;
    padding-top: 15px;
    color: white;
    line-height: 20px;
}

#left button {
    padding: 13px 25px;
    font-size: 16px;
    /* background-color: white; */
    /* margin-left: 13%; */
    /* padding-top: 12px; */
    margin-top: 35px;

}

#btn1 {
    margin-left: 100px;
    background-color: white;
}

#btn2 {
    background-color: black;
    color: white;
    border: 1px solid white;
    /* margin-right: 20px; */
    margin-left: 10px;
}

#left-right #right {
    height: 100%;
    width: 50%;
    /* background-color: black */
    background-image: url(https://uploads-ssl.webflow.com/62b88584af6ecfbb9fd4e11c/62b9c7c80cb3a15b1474fc6c_partners-of-law-firm-discussing-agenda-2022-02-04-01-59-31-utc%201.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

#right h3 {
    font-size: 23px;
    /* text-align: left; */
    margin-top: 86%;
    margin-left: 50px;
    font-family: Gilroy;
    color: black;
    font-weight: 500;
}

#right h2 {
    font-size: 35px;
    /* text-align: end; */
   margin-top: 85%;
   margin-left: 140px;
    color: black;
    font-weight: 500;
}
#page2{
    height: 40%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}
#page2 #page2-part1{
    height: 100%;
    width: 50%;
    /* background-color: chocolate; */
    /* background-color: white; */
}
#page2-part1 h1{
    font-size: 45px;
    padding-top: 60px;
    padding-left: 70px;
}
#page2 #page2-part2{
    height: 100%;
    width: 50%;
    /* background-color: salmon; */
    /* background-color: white; */
}
#page2-part2 p{
    font-size: 18px;
    padding-top: 70px;
    padding-left: 70px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#page2-part2 button{
    padding: 13px 25px;
    margin-top: 25px;
    margin-left: 70px;
    font-size: 16px;
    background-color: white;
}
#page3{
    height: 70%;
    width: 100%;
    background-color: crimson;
    background-image: url(https://images.unsplash.com/photo-1577962917302-cd874c4e31d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    background-size: cover;
    background-position: center;
}
#page4{
    height: 40%;
    width: 100%;
    background-color: #F4E5D0;
    display: flex;
    justify-content: space-evenly;
}
#page4 #page4-part1{
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
}
#page4 #page4-part2{
    height: 100%;
    width: 30%;
    /* background-color: slateblue; */
}
#page4 #page4-part3{
    height: 100%;
    width: 30%;
    /* background-color: mediumvioletred; */
}
.page4-heading{
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
}
.page4-Para{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
}
#page5{
    width: 100%;
    height: 120%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
#page5 #page5-part1{
    width: 90%;
    height: 85%;
    background-color: brown;
    background-image: url(https://images.unsplash.com/photo-1515169067868-5387ec356754?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    
}
#page5-part1 h1{
    font-size: 50px;
    margin-top: 35%;
    margin-left: 80px;
    color: white;
}
#page5-part1 p{
    font-size: 18px;
    margin-left: 80px;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#page6{
    height: 60%;
    width: 100%;
    background-color: #F5DFD1;
    display: flex;
}
#page6 #page6-part1{
    height: 100%;
    width: 50%;
    /* background-color: darkgreen; */
}
#page6 #page6-part2{
    height: 100%;
    width: 50%;
    /* background-color:mediumvioletred; */
}
#page6-part1 h1{
    font-size: 50px;
    margin-left: 70px;
    letter-spacing: 2px;
    margin-top: 150px;
}
#page6-part2 p{
    font-size: 18px;
    margin-left: 70px;
    margin-top: 90px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#page6-part2 button{
    font-size: 17px;
    margin-left: 70px;
    margin-top: 50px;
    padding: 13px 25px;
    background-color: transparent;
}
#page7{
    height: 60%;
    width: 100%;
    background-color: darkblue;
    background-image: url(https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2021&q=80);
    background-size: cover;
    background-position: top;
}
#page8{
    width: 100%;
    height: 130%;
    background-color: white;
    display: flex;
    align-items: center;
}
#page8 #page8-part1{
    height: 85%;
    width: 60%;
    /* background-color: deeppink; */
}
#page8-part1 h1{
    font-size: 50px;
    margin-left: 90px;
    margin-top: 150px;
}
#page8-part1 p{
    font-size: 18px;
    margin-left: 90px;
    margin-top: 40px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#page8-part1 button{
    font-size: 17px;
    margin-left: 90px;
    margin-top: 40px;
    padding: 13px 25px;
    border: 2px solid black;
    background-color: transparent;
}
#page8 #page8-part2{
    height: 85%;
    width: 40%;
    /* background-color: maroon; */
    background-image: url(https://uploads-ssl.webflow.com/62b88584af6ecfbb9fd4e11c/62b895cc38c962213d403c36_drive-to-improve.jpg);
    background-size: cover;
    background-position: center;
}
#page9{
    height: 130%;
    width: 100%;
    background-color: darkslateblue;
}
#nav2{
    width: 100%;
    height: 20%;
    background-color: #F5DFD1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav2 #nav2-part1{
    padding-left: 100px;
    font-size: 25px;
}
#nav2 #nav2-part2{
   padding: 0 80px;
}
#nav2-part2 button{
    padding: 14px 27px;
    font-size: 15px;
    border: 2px solid black;
    background-color: #F5DFD1;
}
#midile{
    width: 100%;
    height: 40%;
    background-color: #F5DFD1;
}
#midile p{
    font-size: 18px;
    margin-left: 100px;
    padding-top: 70px;
}
#midile h1{
    font-size: 50px;
    margin-left: 100px;
    padding-top: 20px;
}
#bottom{
    width: 100%;
    height: 50%;
    background-color: #F5DFD1;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}
#bottom #bottom-part1{
    width: 45%;
    height: 80%;
    /* background-color: rgb(204, 50, 163); */
    background-image: url(https://images.unsplash.com/photo-1580894732930-0babd100d356?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
}
#bottom #bottom-part2{
    width: 45%;
    height: 80%;
    /* background-color: lightseagreen; */
}
#bottom-part2 p{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 70px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#bottom-part2 button{
    font-size: 17px;
    padding: 13px 25px;
    margin-top: 25px;
    margin-left: 70px;
    border: 2px solid black;
    background-color: #F5DFD1;
}
#page10{
    width: 100%;
    height: 100%;
    background-color: #F5DFD1;
}
#page10 #page10-part1{
    width: 100%;
    height: 40%;
    /* background-color: darkseagreen; */
    
}
#page10-part1 p{
    font-size: 18px;
    margin-left: 100px;
    padding-top: 70px;
}
#page10-part1 h1{
    font-size: 50px;
    margin-left: 100px;
    padding-top: 20px;
}
#page10-middle{
    width: 100%;
    height: 50%;
    background-color: #F5DFD1;
    display: flex;
    justify-content: space-evenly;
}
#page10-middle #page10-part2{
    width: 45%;
    height: 100%;
    /* background-color: darksalmon; */
    background-image: url(https://uploads-ssl.webflow.com/62b88584af6ecfbb9fd4e11c/62b89a5f372fb38e4a63f218_article2.jpg);
    background-size: cover;
    background-position: center;
}
#page10-middle #page10-part3{
    width: 45%;
    height: 100%;
    /* background-color: rgb(215, 61, 9); */
}
#page10-part3 p{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 70px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#page10-part3 button{
    font-size: 17px;
    padding: 13px 25px;
    margin-top: 25px;
    margin-left: 70px;
    border: 2px solid black;
    background-color: #F5DFD1;
}
#page11{
    width: 100%;
    height: 100%;
    background-color: #F5DFD1;
}
#page11 #page11-part1{
    width: 100%;
    height: 40%;
    background-color: #F5DFD1;
}
#page11-part1 p{
    font-size: 18px;
    margin-left: 100px;
    padding-top: 70px;
    
}
#page11-part1 h1{
    font-size: 50px;
    margin-left: 100px;
    padding-top: 20px;
}
#page11-middle{
    width: 100%;
    height: 50%;
    background-color: #F5DFD1;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
#page11-middle #page11-part2{
    width: 45%;
    height: 100%;
    /* background-color: darksalmon; */
    background-image: url(https://plus.unsplash.com/premium_photo-1682437385980-63b3b42a2bba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
}
#page11-middle #page11-part3{
    width: 45%;
    height: 100%;
    /* background-color: rgb(215, 61, 9); */
}
#page11-part3 p{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 70px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
}
#page11-part3 button{
    font-size: 17px;
    padding: 13px 25px;
    margin-top: 25px;
    margin-left: 70px;
    border: 2px solid black;
    background-color: #F5DFD1;
}
#page12{
    width: 100%;
    height: 80%;
    background-color: black;
}
#page12 h1{
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 170px;
}
#page12 button{
    font-size: 17px;
    /* color: white; */
    /* text-align: center; */
    padding: 13px 25px;
    margin-left: 45%;
    margin-top: 30px;
}
#page13{
    width: 100%;
    height: 50%;
    background-color: #F5DFD1;
}
#page13 #page13-top{
    width: 100%;
    height: 60%;
    background-color:  #F5DFD1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black ;
}
#page13-top #page13-top-part1{
    
}
#page13-top-part1 img{
    height: 40px;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
}
#page13-top-part1 i{
    padding: 20px 5px;
    line-height: 15px;
    font-size: 21px;
    padding-left: 20px;
}
#page13-top-part2 p{
    font-size: 14px;
    padding: 8px 0;
    line-height: 20px;
    font-family: sans-serif;
}
#page13-top-part3 p{
    font-size: 14px;
    padding: 8px 0;
    margin-right: 15px;
    padding-right: 60px;
    line-height: 20px;
    font-family: sans-serif;
}
#page13-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
#page13-bottom #page13-bottom-part1{
    padding-left: 20px;
    font-size: 14px;
    font-family: sans-serif;
}
#page13-bottom #page13-bottom-part2{
    padding-right: 14px;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}
#page13-bottom #page13-bottom-part3{
    padding: 13px 0;
    padding-right: 20px;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    gap: 30px;
    margin-right: 20px;
    font-family: sans-serif;
}




